<a href="https://colab.research.google.com/github/abdul-coder/crypto/blob/master/covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import style
sns.set(color_codes=True)

#Tabulation

In [96]:
url = 'https://api.covid19india.org/states_daily.json'
import urllib.request
urllib.request.urlretrieve(url, 'data.json')
df = pd.read_json('data.json')

In [97]:
df.head()

                                        states_daily
0  {'an': '0', 'ap': '1', 'ar': '0', 'as': '0', '...
1  {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
2  {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
3  {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...
4  {'an': '0', 'ap': '0', 'ar': '0', 'as': '0', '...

In [98]:
import json

In [99]:
with open('data.json') as f:
  data = json.load(f)

In [100]:
data = data['states_daily']

In [101]:
df = pd.json_normalize(data)

In [102]:
df.head()

  an ap ar as br ch ct       date  ... tg tn tr  tt un  up ut wb
0  0  1  0  0  0  0  0  14-Mar-20  ...  1  1  0  81  0  12  0  0
1  0  0  0  0  0  0  0  14-Mar-20  ...  0  0  0   9  0   4  0  0
2  0  0  0  0  0  0  0  14-Mar-20  ...  0  0  0   2  0   0  0  0
3  0  0  0  0  0  0  0  15-Mar-20  ...  2  0  0  27  0   1  0  0
4  0  0  0  0  0  0  0  15-Mar-20  ...  1  0  0   4  0   0  0  0

[5 rows x 42 columns]

In [103]:
df.date = pd.to_datetime(df.date)

## Drop the dateymd because of double

In [104]:
df.drop('dateymd', axis=1, inplace=True)

##Now set the index date

In [105]:
df.set_index('date', inplace=True)

##Now drop the status column

In [106]:
df.drop('status', axis=1, inplace=True)

In [107]:
df.head()

           an ap ar as br ch ct dd dl dn ga  ... py rj sk tg tn tr  tt un  up ut wb
date                                         ...
2020-03-14  0  1  0  0  0  0  0  0  7  0  0  ...  0  3  0  1  1  0  81  0  12  0  0
2020-03-14  0  0  0  0  0  0  0  0  1  0  0  ...  0  1  0  0  0  0   9  0   4  0  0
2020-03-14  0  0  0  0  0  0  0  0  1  0  0  ...  0  0  0  0  0  0   2  0   0  0  0
2020-03-15  0  0  0  0  0  0  0  0  0  0  0  ...  0  1  0  2  0  0  27  0   1  0  0
2020-03-15  0  0  0  0  0  0  0  0  1  0  0  ...  0  2  0  1  0  0   4  0   0  0  0

[5 rows x 39 columns]

In [ ]:
df.info()

## Now change the object to numeric

In [111]:
df = df.apply(pd.to_numeric)

In [ ]:
df.info()

In [124]:
def color_red_negative():
  color = 'red' if x < 0 else 'white'
  return 'color: ' + color